<form action="/activity/create" method="POST" id="sign-up-form" class="form-signin">

  <h2 class="form-signin-heading">Skapa aktivitet</h2><br/>

  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Datum</div>
        <small class="text-muted">vilken dag</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control datepicker" name="datum">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">

  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Tid</div>
        <small class="text-muted">Klockslag</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="tid">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">

  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Anteckning</div>
        <small class="text-muted">Samtalsbeskrivning</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <textarea type="text" name="info" class="form-control"></textarea>
      </div>
    </div>
  </fieldset>


  <br/>
  <div class="well">
    <div class="form-actions">
      <div class="row">
        <div class="col-sm-7 col-sm-offset-5">
          <input type="submit" class="btn btn-lg btn-success" value="Skapa">
        </div>
      </div>
    </div>
  </div>

  <input type="hidden" name="org_id" value="<%= req.param('org_id') %>"/>
  <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
</form>