<div class="container">
  <h3>Företag</h3>

  <table class="table">
    <tr>
      <th>Namn</th>
    </tr>

    <% _.each(orgunits, function(orgunit) { %>
    <tr>
      <td>
        <a href="/orgunit/edit/<%= orgunit.id %>" </a><%= orgunit.namn %></td>
      <td>
        <!--<a href="/activity/edit/536fa2771a8530511dcc5db0">-->
          <!--<span class="glyphicon glyphicon-star"></span>-->
        <!--</a>-->
        <a href="/activity/findbyorgunitid?id=<%= orgunit.id %>">
          <span class="glyphicon glyphicon-star"></span>
        </a>
      </td>
      <td>
      </td>
    </tr>
    <% }) %>
  </table>

  <div class="well">
    <a class="btn btn-primary" href="/orgunit/new">Nytt</a>
  </div>
</div>
