<form action="/orgunit/create" method="POST" id="sign-up-form" class="form-signin">

  <h2 class="form-signin-heading">Skapa företag</h2><br/>

  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Namn</div>
        <small class="text-muted">Företagets namn</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="namn" autofocus="on">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">
  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Orgnr</div>
        <small class="text-muted">Organisationsnummer</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="orgnr">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">
  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Telefon</div>
        <small class="text-muted">Nummer till företaget</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="telefon">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">
  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Branschkod</div>
        <small class="text-muted">Branschkod</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="branschkod">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">
  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Branschtext</div>
        <small class="text-muted">Branschtext</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="branschtext">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">
  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Anställda</div>
        <small class="text-muted">Antal anställda</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="anstellda">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">
  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Omsättning</div>
        <small class="text-muted">Intervall</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="omsintervall">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">
  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Adress</div>
        <small class="text-muted">Utdelningsadress</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="utdadr">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">
  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Besöksadress</div>
        <small class="text-muted">Besöksadress</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="besadr">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">
  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Postnr</div>
        <small class="text-muted">Postnummr</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="postnr">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">
  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Besökspostnr</div>
        <small class="text-muted">Postnummer vid besök</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="bespostnr">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">
  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Postort</div>
        <small class="text-muted">Postort</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="postort">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">
  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Besökpostort</div>
        <small class="text-muted">Postort vid besök</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="bespostort">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">
  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Övrigt</div>
        <small class="text-muted">Övrig information</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <textarea type="text" rows="7" id="info" name="info" class="form-control"></textarea>
      </div>
    </div>
  </fieldset>

  <br/>
  <div class="well">
    <div class="form-actions">
      <div class="row">
        <div class="col-sm-7 col-sm-offset-5">
          <input type="submit" class="btn btn-lg btn-success" value="Skapa">
        </div>
      </div>
    </div>
  </div>

  <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
</form>