<form action="/salesimport/create" method="POST" id="sign-up-form" class="form-signin">

  <h2 class="form-signin-heading">Skapa företag </h2><br/>

  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Namn</div>
        <small class="text-muted">Företagets namn</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="namn">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">

  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Orgnr</div>
        <small class="text-muted">Organisationsnummer</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="orgnr">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">
  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Orgnamn</div>
        <small class="text-muted">Fullständigt namn på företaget</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="orgnamn">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">

  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Titel</div>
        <small class="text-muted">en titel</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="titel">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">

  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Telefon</div>
        <small class="text-muted">tel </small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="telefon">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">
  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Branschkod</div>
        <small class="text-muted">en branschkod</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="branschkod">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">

  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Branschtext</div>
        <small class="text-muted">en branschtext</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="branschtext">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">

  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Anställda</div>
        <small class="text-muted">Antal anställda</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="anstellda">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">

  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Omsättning</div>
        <small class="text-muted">Intervall</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="omsintervall">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">

  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Utdelningsadress</div>
        <small class="text-muted">Adress</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="utdadr">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">

  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Besöksadress</div>
        <small class="text-muted">Adress</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="besadr">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">

  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Postnummer</div>
        <small class="text-muted">Adress</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="postnr">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">

  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Besöks-Postnummer</div>
        <small class="text-muted">Adress</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="bespostnr">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">

  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Postort</div>
        <small class="text-muted">Adress</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="postort">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">

  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Besöks-Postort</div>
        <small class="text-muted">Adress</small>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="bespostort">
      </div>
    </div>
  </fieldset>


  <br/>
  <div class="well">
    <div class="form-actions">
      <div class="row">
        <div class="col-sm-7 col-sm-offset-5">
          <input type="submit" class="btn btn-lg btn-success" value="Skapa">
        </div>
      </div>
    </div>
  </div>

  <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
</form>